* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'PT Serif', serif;
  background: black;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.65) 100%); }

@font-face {
  font-family: Amalfi;
  src: url(../Amalfi.ttf); }

header, footer {
  background-color: black; }

.arrow, .info .info_services .info_services_lower_arrow, .info .info_services .info_services_upper_arrow {
  width: 100%;
  position: relative;
  text-align: center;
  margin-top: 1rem; }
  .arrow img, .info .info_services .info_services_lower_arrow img, .info .info_services .info_services_upper_arrow img {
    width: 75%;
    height: 6rem; }

.carousel .carousel-caption {
  top: 1.25rem; }

.carousel .carousel-inner {
  height: 100%; }

.info .info_services .title {
  text-align: center;
  margin: 1rem;
  margin-top: 2.5rem;
  text-transform: uppercase;
  font-weight: lighter; }

.info .info_services .info_services_upper_arrow img {
  transform: rotate(180deg); }

.info .info_services .info_services_button_wrapper {
  margin: 20px auto;
  width: 80%; }
  .info .info_services .info_services_button_wrapper .info_services_link {
    font-family: 'PT Serif', serif;
    text-align: center;
    font-size: 1rem;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bolder;
    margin-top: 1rem;
    transition: all 0.1s ease-in; }
    .info .info_services .info_services_button_wrapper .info_services_link:hover {
      border-radius: 30px;
      transform: scale(1.05);
      background-color: none;
      box-shadow: currentColor; }
  .info .info_services .info_services_button_wrapper .services_button {
    width: 15vw;
    margin: auto;
    display: block;
    text-align: center; }
    .info .info_services .info_services_button_wrapper .services_button:hover {
      transition: all 0.1s ease-in;
      transform: scale(1.05); }

.info .info_about_us .title {
  text-align: center;
  margin: 1rem;
  margin-top: 2.5rem;
  text-transform: uppercase;
  font-weight: lighter; }

.info .info_about_us p {
  margin: 2rem 10rem;
  text-align: justify;
  letter-spacing: 1px;
  line-height: 1.5; }

/* intro y titulos */
.intro_media {
  margin-bottom: 1rem; }
  .intro_media h3 {
    font-size: 3rem; }
  .intro_media h2 {
    font-size: 5rem; }
  .intro_media .intro_media_title {
    font-family: 'PT Serif', serif;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: lighter; }
  .intro_media img {
    width: 100%;
    opacity: 0.6; }
  .intro_media div {
    width: 100%;
    position: absolute;
    text-align: center;
    margin-top: 4rem;
    z-index: 2; }
  .intro_media .indiana_text p {
    color: #fafa00;
    position: relative;
    margin-top: -10rem;
    text-align: center;
    font-size: 1.5rem; }

/* languages */
.subs_languages .title {
  text-align: center;
  margin: 1rem;
  margin-top: 2.5rem;
  text-transform: uppercase;
  font-weight: lighter; }

.subs_languages .subs_languages_grid {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: auto;
  width: 50%; }
  .subs_languages .subs_languages_grid p {
    background-color: black;
    color: white;
    border-radius: 20px;
    font-size: 4rem;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    padding: 1rem;
    margin: auto;
    width: 10rem; }
  .subs_languages .subs_languages_grid h6 {
    display: block;
    margin: auto;
    font-size: 1rem;
    font-weight: bolder;
    padding: 1rem; }

.subs_languages .others {
  opacity: 0.5;
  font-size: 1rem;
  text-align: center;
  margin: 1rem;
  transition: all 0.1s ease-in;
  transition: all 0.1s ease-in; }
  .subs_languages .others a {
    color: currentColor; }
  .subs_languages .others a:hover {
    color: currentColor; }
  .subs_languages .others:hover {
    border-radius: 30px;
    transform: scale(1.03);
    background-color: none;
    box-shadow: none; }
  .subs_languages .others:active {
    transform: scale(0.8);
    color: currentColor;
    background-color: none; }

/* subs y cc */
.subs_cc .subs_cc_grid {
  margin: 2rem;
  width: auto; }
  .subs_cc .subs_cc_grid h2 {
    width: fit-content;
    font-family: 'PT Serif', serif;
    text-align: center;
    text-transform: uppercase;
    margin: 1rem auto;
    margin-top: 2.5rem;
    padding: 1rem;
    background-color: black;
    color: white;
    font-size: 2.5rem;
    border-radius: 50px; }
  .subs_cc .subs_cc_grid p {
    text-align: center;
    padding: 0 2rem; }

.subs_cc .others {
  opacity: 0.5;
  font-size: 1rem;
  text-align: center;
  margin: 1rem;
  transition: all 0.1s ease-in;
  transition: all 0.1s ease-in; }
  .subs_cc .others a {
    color: currentColor; }
  .subs_cc .others a:hover {
    color: currentColor; }
  .subs_cc .others:hover {
    border-radius: 30px;
    transform: scale(1.03);
    background-color: none;
    box-shadow: none; }
  .subs_cc .others:active {
    transform: scale(0.8);
    color: currentColor;
    background-color: none; }

.clients {
  background-color: rgba(0, 0, 0, 0.8);
  margin: 3rem;
  padding: 2rem;
  border-radius: 20px; }
  .clients h2 {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: lighter;
    margin-bottom: 2rem;
    margin-top: 0;
    font-size: 2rem; }
  .clients p {
    color: white; }
  .clients .clients_img_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2rem; }
    .clients .clients_img_wrapper img {
      width: 12vw;
      height: 12vw;
      border-radius: 50px; }

.backround_img_wrapper .backround_img {
  width: 100%;
  opacity: 0.1;
  height: 50vw; }

.backround_img_wrapper h2 {
  z-index: 2;
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  bottom: 45vw;
  color: white;
  font-weight: lighter; }

.backround_img_wrapper .down_arrow_wrapper {
  position: relative;
  width: 100%;
  text-align: center;
  bottom: 35vw; }
  .backround_img_wrapper .down_arrow_wrapper .down_arrow {
    z-index: 2;
    width: 10%;
    transition: all 0.1s ease-in;
    transition: all 0.1s ease-in; }
    .backround_img_wrapper .down_arrow_wrapper .down_arrow:hover {
      border-radius: 30px;
      transform: scale(1.1);
      background-color: none;
      box-shadow: none; }
    .backround_img_wrapper .down_arrow_wrapper .down_arrow:active {
      transform: scale(0.8);
      color: rgba(255, 255, 255, 0.8);
      background-color: none; }

.consultancy_service {
  padding: 0 4rem;
  margin-top: -10rem; }
  .consultancy_service .row {
    display: flex;
    align-items: center;
    justify-content: center; }
  .consultancy_service .services_button {
    text-align: center; }
    .consultancy_service .services_button img {
      width: 10vw;
      margin: auto; }
  .consultancy_service .arrow_icon {
    width: auto;
    margin: auto; }
  .consultancy_service .company_icon {
    width: 10vw;
    margin: 4vw;
    background-color: black;
    border-radius: 50px;
    display: table; }
    .consultancy_service .company_icon p {
      display: block;
      margin: auto;
      color: white;
      text-align: center;
      font-weight: bolder;
      font-size: 2.5rem;
      padding: 1vw; }
  .consultancy_service .stardust_icon {
    padding: 2rem;
    background-color: black;
    border-radius: 50px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center; }
    .consultancy_service .stardust_icon .logo_name_wrapper {
      color: white;
      text-align: center;
      padding-top: 1rem;
      margin: auto;
      transition: all 0.1s ease-in;
      transition: all 0.1s ease-in; }
      .consultancy_service .stardust_icon .logo_name_wrapper:hover {
        border-radius: 30px;
        transform: scale(1.03);
        background-color: none;
        box-shadow: none; }
      .consultancy_service .stardust_icon .logo_name_wrapper:active {
        transform: scale(0.8);
        color: rgba(255, 255, 255, 0.8);
        background-color: none; }
      .consultancy_service .stardust_icon .logo_name_wrapper a {
        text-decoration: none;
        color: white; }
      .consultancy_service .stardust_icon .logo_name_wrapper .logo_name_title {
        font-family: Amalfi;
        font-size: 2rem;
        font-weight: bold; }
      .consultancy_service .stardust_icon .logo_name_wrapper .logo_name_subtitle {
        font-family: 'PT Serif', serif;
        font-weight: lighter;
        font-size: 0.8rem;
        letter-spacing: 2px;
        text-transform: uppercase; }
  .consultancy_service .consultancy_service_text {
    width: 100%;
    text-align: center;
    font-size: 1.5rem; }
  .consultancy_service .others {
    opacity: 0.5;
    font-size: 1rem;
    text-align: center;
    margin: 1rem;
    transition: all 0.1s ease-in;
    transition: all 0.1s ease-in; }
    .consultancy_service .others a {
      color: currentColor; }
    .consultancy_service .others a:hover {
      color: currentColor; }
    .consultancy_service .others:hover {
      border-radius: 30px;
      transform: scale(1.03);
      background-color: none;
      box-shadow: none; }
    .consultancy_service .others:active {
      transform: scale(0.8);
      color: currentColor;
      background-color: none; }

/* contact button */
.button_wrapper {
  margin: 2rem;
  text-align: center; }
  .button_wrapper .contact_button {
    position: relative;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 1rem 2.5rem;
    display: inline-block;
    border-radius: 50px;
    transition: all 0.1s ease-in;
    border: none;
    font-family: inherit;
    background-color: white;
    text-align: center;
    transition: all 0.1s ease-in;
    transition: all 0.1s ease-in; }
    .button_wrapper .contact_button:hover {
      border-radius: 30px;
      transform: scale(1.05);
      background-color: none;
      box-shadow: 0 10px 20px rgba(255, 255, 255, 0.205); }
    .button_wrapper .contact_button:hover {
      border-radius: 50px; }
    .button_wrapper .contact_button:active {
      transform: scale(0.8);
      color: rgba(255, 255, 255, 0.8);
      background-color: none; }
    .button_wrapper .contact_button a {
      font-size: 1.5rem;
      text-decoration: none;
      color: black;
      vertical-align: middle; }

.services_examples {
  margin: auto;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1rem; }
  .services_examples h3 {
    padding: 1rem;
    padding-bottom: 2rem;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: 100; }

/* dividir formulario entre form e img */
main .title {
  text-align: center;
  margin: 1rem;
  margin-top: 2.5rem;
  text-transform: uppercase;
  font-weight: lighter; }

main .contact_wrapper {
  display: flex; }
  main .contact_wrapper .divider {
    width: 50%;
    margin: 2rem; }
    main .contact_wrapper .divider img {
      width: 100%; }
    main .contact_wrapper .divider form .title {
      font-size: 1.25rem;
      text-transform: inherit; }
    main .contact_wrapper .divider form .contact_form_wrapper {
      text-align: center; }
      main .contact_wrapper .divider form .contact_form_wrapper input, main .contact_wrapper .divider form .contact_form_wrapper select, main .contact_wrapper .divider form .contact_form_wrapper textarea, main .contact_wrapper .divider form .contact_form_wrapper button {
        width: 80%;
        height: 2.5rem;
        margin: 1rem auto;
        padding: 0.5rem; }
      main .contact_wrapper .divider form .contact_form_wrapper textarea {
        height: 6rem;
        vertical-align: text-top;
        line-break: auto;
        overflow: auto; }
      main .contact_wrapper .divider form .contact_form_wrapper button {
        transition: all 0.1s ease-in;
        /* boton submit */
        width: 8rem;
        position: relative;
        font-size: 1rem;
        text-transform: uppercase;
        border-radius: 50px;
        border: none;
        background-color: white;
        text-align: center;
        transition: all 0.1s ease-in;
        transition: all 0.1s ease-in; }
        main .contact_wrapper .divider form .contact_form_wrapper button:active {
          transform: scale(0.8);
          color: currentColor;
          background-color: none; }
        main .contact_wrapper .divider form .contact_form_wrapper button:hover {
          border-radius: 30px;
          transform: scale(1.05);
          background-color: none;
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
    main .contact_wrapper .divider form .input-style {
      border-radius: 10px;
      height: 2rem;
      width: 80%;
      text-align: center;
      border-color: black;
      border-width: 1px;
      font-family: 'PT Serif', serif;
      font-size: 1rem; }
      main .contact_wrapper .divider form .input-style:focus {
        transition: all 0.1s ease-in;
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
    main .contact_wrapper .divider .main_mail_wrapper {
      /* mail y tel debajo de form */
      display: flex;
      justify-content: space-around; }
      main .contact_wrapper .divider .main_mail_wrapper img {
        width: 2rem;
        vertical-align: middle;
        font-size: 1rem; }
      main .contact_wrapper .divider .main_mail_wrapper .main_phone img {
        height: 2rem; }
      main .contact_wrapper .divider .main_mail_wrapper .main_email img {
        height: 1.5rem; }

.info .info_services .info_services_title {
  margin-top: 2rem; }
  .info .info_services .info_services_title .logo_name_wrapper {
    color: white;
    text-align: center;
    padding-top: 1rem;
    margin: auto;
    transition: all 0.1s ease-in;
    transition: all 0.1s ease-in; }
    .info .info_services .info_services_title .logo_name_wrapper:hover {
      border-radius: 30px;
      transform: scale(1.03);
      background-color: none;
      box-shadow: none; }
    .info .info_services .info_services_title .logo_name_wrapper:active {
      transform: scale(0.8);
      color: rgba(255, 255, 255, 0.8);
      background-color: none; }
    .info .info_services .info_services_title .logo_name_wrapper a {
      text-decoration: none;
      color: white; }
    .info .info_services .info_services_title .logo_name_wrapper .logo_name_title {
      font-family: Amalfi;
      font-size: 2rem;
      font-weight: bold; }
    .info .info_services .info_services_title .logo_name_wrapper .logo_name_subtitle {
      font-family: 'PT Serif', serif;
      font-weight: lighter;
      font-size: 0.8rem;
      letter-spacing: 2px;
      text-transform: uppercase; }
  .info .info_services .info_services_title .logo_name_wrapper {
    width: 30rem;
    height: 15rem;
    padding: 5rem;
    margin: auto;
    text-align: center;
    background-color: black;
    border-radius: 50% / 100% 100% 0 0; }
    .info .info_services .info_services_title .logo_name_wrapper:hover {
      border-radius: 50% / 100% 100% 0 0; }
    .info .info_services .info_services_title .logo_name_wrapper h2, .info .info_services .info_services_title .logo_name_wrapper h3 {
      margin-top: 1.5rem; }

.movie {
  margin-top: 2rem; }
  .movie .movie_info {
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    transition: all 0.1s ease-in; }
    .movie .movie_info:hover {
      border-radius: 30px;
      transform: scale(1.01);
      background-color: #5a5a5a;
      box-shadow: none; }
    .movie .movie_info:hover {
      border: white 2px inset;
      color: black; }
    .movie .movie_info .movie_info_title .title {
      text-align: center;
      margin: 1rem;
      margin-top: 2.5rem;
      text-transform: uppercase;
      font-weight: lighter; }
    .movie .movie_info .movie_info_title .title {
      margin-top: 0; }
    .movie .movie_info .movie_info_title .others {
      opacity: 0.5;
      font-size: 1rem;
      text-align: center;
      margin: 1rem;
      transition: all 0.1s ease-in;
      transition: all 0.1s ease-in; }
      .movie .movie_info .movie_info_title .others a {
        color: currentColor; }
      .movie .movie_info .movie_info_title .others a:hover {
        color: currentColor; }
      .movie .movie_info .movie_info_title .others:hover {
        border-radius: 30px;
        transform: scale(1.03);
        background-color: none;
        box-shadow: none; }
      .movie .movie_info .movie_info_title .others:active {
        transform: scale(0.8);
        color: currentColor;
        background-color: none; }
    .movie .movie_info .movie_info_text h2, .movie .movie_info .movie_info_text p {
      text-align: center;
      margin: auto; }
    .movie .movie_info .movie_info_text .others {
      font-size: 0.8rem; }
    .movie .movie_info .movie_info_text .sinopsis {
      padding: 1rem; }
    .movie .movie_info .movie_info_picture {
      margin: auto; }
      .movie .movie_info .movie_info_picture img {
        width: 15rem; }
  .movie .movie_trailer video {
    display: block;
    margin: auto;
    width: 90%;
    height: 70%;
    border-radius: 5px; }
    .movie .movie_trailer video:hover {
      transition: all 0.1s ease-in;
      border: white 2px solid;
      border-radius: 10px; }
  .movie .movie_trailer .others {
    opacity: 0.5;
    font-size: 1rem;
    text-align: center;
    margin: 1rem;
    transition: all 0.1s ease-in;
    transition: all 0.1s ease-in; }
    .movie .movie_trailer .others a {
      color: currentColor; }
    .movie .movie_trailer .others a:hover {
      color: currentColor; }
    .movie .movie_trailer .others:hover {
      border-radius: 30px;
      transform: scale(1.03);
      background-color: none;
      box-shadow: none; }
    .movie .movie_trailer .others:active {
      transform: scale(0.8);
      color: currentColor;
      background-color: none; }

header {
  padding: 1rem;
  align-items: center; }
  header nav {
    margin-top: 1rem; }
    header nav .container .logo_name_wrapper {
      color: white;
      text-align: center;
      padding-top: 1rem;
      margin: auto;
      transition: all 0.1s ease-in;
      transition: all 0.1s ease-in; }
      header nav .container .logo_name_wrapper:hover {
        border-radius: 30px;
        transform: scale(1.03);
        background-color: none;
        box-shadow: none; }
      header nav .container .logo_name_wrapper:active {
        transform: scale(0.8);
        color: rgba(255, 255, 255, 0.8);
        background-color: none; }
      header nav .container .logo_name_wrapper a {
        text-decoration: none;
        color: white; }
      header nav .container .logo_name_wrapper .logo_name_title {
        font-family: Amalfi;
        font-size: 2rem;
        font-weight: bold; }
      header nav .container .logo_name_wrapper .logo_name_subtitle {
        font-family: 'PT Serif', serif;
        font-weight: lighter;
        font-size: 0.8rem;
        letter-spacing: 2px;
        text-transform: uppercase; }
    header nav .container .navbar-toggler {
      padding: 0.5rem;
      border-radius: 50%;
      margin-bottom: 1rem;
      transition: all 0.1s ease-in; }
      header nav .container .navbar-toggler:active {
        transform: scale(0.8);
        color: currentColor;
        background-color: none; }
    header nav .container .navbar-collapse .menu_nav {
      padding: 1rem;
      font-size: 1rem;
      text-transform: uppercase; }
      header nav .container .navbar-collapse .menu_nav .nav-link {
        display: block;
        text-align: center;
        text-decoration: none;
        color: white;
        border-radius: 30px;
        margin: 0.7rem;
        padding: 0.7rem;
        transition: all 0.1s ease-in;
        transition: all 0.1s ease-in; }
        header nav .container .navbar-collapse .menu_nav .nav-link:hover {
          border-radius: 30px;
          transform: scale(1.1);
          background-color: #424242;
          box-shadow: 0 10px 20px rgba(255, 255, 255, 0.205); }
        header nav .container .navbar-collapse .menu_nav .nav-link:active {
          transform: scale(0.8);
          color: rgba(0, 0, 0, 0.8);
          background-color: rgba(255, 255, 255, 0.8); }

footer {
  display: flex; }
  footer article {
    width: 33%; }
    footer article h2, footer article h4 {
      text-align: center; }
  footer .footer_header {
    display: block;
    margin: auto; }
    footer .footer_header .logo_name_wrapper {
      color: white;
      text-align: center;
      padding-top: 1rem;
      margin: auto;
      transition: all 0.1s ease-in;
      transition: all 0.1s ease-in; }
      footer .footer_header .logo_name_wrapper:hover {
        border-radius: 30px;
        transform: scale(1.03);
        background-color: none;
        box-shadow: none; }
      footer .footer_header .logo_name_wrapper:active {
        transform: scale(0.8);
        color: rgba(255, 255, 255, 0.8);
        background-color: none; }
      footer .footer_header .logo_name_wrapper a {
        text-decoration: none;
        color: white; }
      footer .footer_header .logo_name_wrapper .logo_name_title {
        font-family: Amalfi;
        font-size: 2rem;
        font-weight: bold; }
      footer .footer_header .logo_name_wrapper .logo_name_subtitle {
        font-family: 'PT Serif', serif;
        font-weight: lighter;
        font-size: 0.8rem;
        letter-spacing: 2px;
        text-transform: uppercase; }
  footer .footer_about_us {
    text-align: center;
    color: white;
    margin-top: 1.25rem;
    margin-bottom: 1rem;
    line-height: 1.25; }
    footer .footer_about_us h3 {
      margin-bottom: 0.25rem;
      text-transform: uppercase;
      font-weight: lighter;
      letter-spacing: 2px;
      font-size: 1.25rem;
      display: inline-block;
      position: relative; }
    footer .footer_about_us div {
      margin: 0.75rem;
      border-left: 5px white;
      display: flex;
      flex-direction: column; }
      footer .footer_about_us div a {
        margin-top: 0.5rem;
        text-decoration: none;
        color: white;
        font-size: 0.8rem;
        font-weight: lighter;
        font-family: 'PT Serif', serif;
        text-align: center;
        text-transform: uppercase;
        transition: all 0.1s ease-in;
        transition: all 0.1s ease-in;
        transition: all 0.1s ease-in; }
        footer .footer_about_us div a:hover {
          border-radius: 30px;
          transform: scale(1.03);
          background-color: none;
          box-shadow: none; }
        footer .footer_about_us div a:hover {
          text-decoration: underline; }
        footer .footer_about_us div a:active {
          transform: scale(0.8);
          color: currentColor;
          background-color: none; }
  footer .datos {
    color: white; }
    footer .datos div {
      margin-top: 1.5rem;
      text-align: center; }
      footer .datos div img {
        text-align: center;
        vertical-align: middle;
        width: 2rem;
        margin-right: 0.5rem; }

@media screen and (max-width: 783px) {
  .row {
    flex-direction: column; }
  /* header y footer */
  header {
    flex-wrap: wrap;
    padding-bottom: 0; }
  footer {
    flex-direction: column;
    align-items: center; }
    footer article {
      width: 100%; }
    footer .footer_header {
      margin-top: 2rem; }
    footer .footer_about_us div a {
      font-size: 0.75rem; }
    footer .datos {
      margin-bottom: 1rem; }
  .navbar .container {
    justify-content: flex-end; }
  /* index main */
  .info .info_about_us p {
    margin: 2rem 1rem;
    font-size: 0.8rem; }
  /* contact */
  main .contact_wrapper {
    flex: none; }
    main .contact_wrapper #divider_display_none_responsive {
      display: none; }
    main .contact_wrapper .divider {
      width: 100%;
      margin: auto; }
      main .contact_wrapper .divider .input-style {
        width: 50%; }
  /* consultancy */
  .backround_img_wrapper h2 {
    font-size: 2.5rem; }
  .consultancy_service {
    margin-top: -2rem; }
    .consultancy_service .services_button img {
      border-radius: 0;
      width: 20vh; }
    .consultancy_service .stardust_icon {
      border-radius: 25px; }
      .consultancy_service .stardust_icon .logo_name_wrapper {
        margin: 1rem; }
        .consultancy_service .stardust_icon .logo_name_wrapper .logo_name_title {
          font-size: 1.5rem; }
    .consultancy_service .company_icon p {
      font-size: 1.5rem; }
    .consultancy_service .consultancy_service_text {
      font-size: 1rem; }
  .arrow_icon svg {
    transform: rotate(90deg); }
  /* subtitles */
  .intro_media h2 {
    font-size: 2.5rem; }
  .intro_media h3 {
    font-size: 1.5rem; }
  .intro_media .indiana_text {
    display: none; }
  .subs_languages h2 {
    font-size: 1.5rem; }
  .subs_languages .subs_languages_grid {
    width: 100%; }
    .subs_languages .subs_languages_grid p {
      font-size: 2rem; }
  .subs_cc .subs_cc_grid h2 {
    font-size: 1.5rem; }
  .subs_cc .subs_cc_grid p {
    padding: 0.2rem; }
  .clients {
    margin: 1rem;
    padding: 1rem; }
  .services_button {
    width: auto; }
  .info_services_button_wrapper {
    margin-top: 0; }
  .backround_img_wrapper h2 {
    font-size: 1.5rem; }
  .movie .movie_info {
    flex-direction: column; } }

@media screen and (max-width: 410px) {
  /* sacar elemento en consultancy title */
  .down_arrow_wrapper {
    display: none; }
  .stardust_icon .logo_name_wrapper {
    margin: 1rem; }
  /* achicado de boton */
  .contact_button a {
    font-size: 1rem;
    text-decoration: none;
    color: black;
    vertical-align: middle; }
  /* centrado subs title */
  .intro_media div {
    margin-top: 2rem; }
  .indiana_text {
    display: none; }
  .intro_media_title h2 {
    font-size: 2rem;
    text-align: center; }
  .intro_media_title h3 {
    font-size: 1rem;
    text-align: center; }
  /* achicado texto subs */
  .intro_media div h2 {
    font-size: 2rem; }
  .intro_media div h3 {
    font-size: 1rem; }
  .subs_cc_grid p {
    font-size: 0.8rem; }
  .navbar .container {
    justify-content: center; }
  main .contact_wrapper .divider form .main_mail_wrapper {
    flex-direction: column; }
  .info .info_services .info_services_title .logo_name_wrapper {
    background-color: inherit;
    padding: 1rem;
    width: 100%; }
    .info .info_services .info_services_title .logo_name_wrapper:active {
      border: none; }
  .info .info_services .info_services_title p, .info .info_services .info_services_title h2 {
    color: black;
    font-size: smaller; }
  .info .info_services .info_services_title h2 {
    font-size: 0.8rem; }
  .movie .movie_info .movie_info_picture img {
    width: 10rem; } }
