/* colores, font, logo y body grid */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'PT Serif', serif;
    background-color: rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer"
    ;
}
header {
    grid-area: header;
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
}
/* sacar grid */
@font-face {
    font-family: Amalfi;
    src: url(../Amalfi.ttf);
}
header,footer {
    background-color: rgb(0, 0, 0);
} 

                                            /* HEADER */
header {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    align-items: center;
}
/* menu */
.menu_nav{
    padding: 1rem;
    font-size: 1rem;
    text-transform: uppercase;
}
.menu {
    list-style-type: none;
    margin: 0.7rem;
    display: flex;
    align-items: center;
}
header nav ul li {
    transition: all 0.1s ease-in;
}
header nav ul li:hover {
    transform: scale(1.1,1.1);
}
/* .menu li { */
    /* display: inline-block;  
    /* text-align: center; */
    /* no hacer falta pero dejar por las dudas cambie algo cuando haga responsive*/

.menu li a {
    text-decoration: none;
    color: white;
    display: inline-block;
    margin: 0.7rem;
    padding: 0.7rem;
}
.menu li a:hover {
    background-color: rgb(66, 66, 66);
    border-radius: 30px;
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.205);
}

/* logo header */
.logo_name_wrapper {
    color: white;
    text-align: center;
}
.logo_name_wrapper a{
    text-decoration: none;
    color: white;
}
.logo_name_title{
    font-family: Amalfi;
    font-size: 2rem;
    font-weight: bold;
}
.logo_name_subtitle {
    font-family: 'PT Serif', serif;
    font-weight: lighter;
    font-size: 0.8rem;
    letter-spacing: 2px;
}


                                                /* FOOTER */
/* footer logo*/
footer {
    display: flex;
}
footer article {
    width: 33%;
}
footer h2,h4 {
    text-align: center;
}
.logo_name_footer_wrapper {
    color: white;
    text-align: center;
    margin-bottom: 2rem;
}
.logo_name_footer_wrapper a{
    text-decoration: none;
    color: white;
}

/* footer contact */
.datos {
    color: white;
}
.datos div {
    margin-top: 1.5rem;
    text-align: center;
}
.datos img {
    text-align: center;
    vertical-align: middle;
    width: 2rem;
    margin-right: 0.5rem;
}

/* footer about us */
.footer_about_us {
    text-align: center;
    color: white; 
    margin-top: 1.25rem;
    margin-bottom: 1rem; 
    line-height: 1.25;  
}
.footer_about_us h3{
    margin-bottom: 0.25rem;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 2px;
    font-size: 1.25rem;
    display: inline-block;
    position: relative;
}

.footer_about_us div {
    margin: 0.75rem;
    border-left: 5px white;
    display: flex;
    flex-direction: column;
}
.footer_about_us a {
    margin-top: 0.5rem;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: lighter;
    font-family: 'PT Serif', serif;
    text-align: center;
    text-transform: uppercase;
    transition:all 0.1s ease-in;
}
.footer_about_us a:hover {
    text-decoration: underline;
    transform: scale(1.02);
}


/* CONTENT */
                                                /* INDEX PAGE */
/* video */
.trailer_video {
    width: 100%;
    height: 70%;
}
.media h2 {
    z-index: 2;
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 2.5rem;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: lighter;
}
.media h2 a {
    color: white;
    text-decoration: none;
}


/* services */
/* {} esteticas */
.info_services_upper_arrow img {
    transform: rotate(180deg);
    width: 75%;
    height: 6rem;
}
.info_services_lower_arrow img{
    width: 75%;
    height: 6rem;
}
.info_services_lower_arrow,.info_services_upper_arrow {
    width: 100%;
    position: relative;
    text-align: center;
    margin-top: 1rem;
}
.info h2 {
    width: 100%;
    text-align: center;
    margin-top: 2.5rem;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: lighter;
}

/* services grid buttons */
.info_services_button_wrapper {
    margin: 20px auto;
    width: 80%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "cosultancy subs production"
    "consultancy_link subs_link production_link"
    ;
    column-gap: 2rem;
    row-gap: 1rem;
    align-items: center;
    justify-items: center;
}
.consultancy_button {
    grid-area: consultancy;
}
.subtitle_button {
    grid-area: subs;
}
.productions_button {
    grid-area: production;
}
.info_services_button_wrapper img {
    width: 10rem;
}
.consultancy_link,.subs_link,.production_link {
    font-family: 'PT Serif', serif;
    text-align: center;
    font-size: 1rem;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bolder;
}

/* about us text */
.info_about_us p {
    margin: 2rem 10rem;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 1.5;
}


                                                /* CONSULTANCY */
/* titulo */
.backround_img {
    width: 100%;
    opacity: 0.1;
    height: 50vw;
}
.backround_img_wrapper h2 {
    z-index: 2;
    position: relative;
    font-size: 4rem;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    bottom: 45vw;
    color: white;
    padding: 2rem;
    font-weight: lighter;
}
.down_arrow_wrapper {
    position: relative;
    width: 100%;
    text-align: center;
    bottom: 35vw;
}
.down_arrow {
    z-index: 2;
    width: 10%;
}

/* grafico */
.service_graphic {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 4rem;
    margin-top: -20vw;
}
.movie_icon img {
    width: 10vw;
    margin: 4vw;
    border-radius: 20px;
}
.arrow_icon img{
    width: 3vw;
    margin: 4vw;
    margin-top: 6vw;
}
.company_icon {
    width: 10vw;
    margin: 4vw;
    background-color: black;
    border-radius: 50px;
    display: table;
}
.company_icon p {
    display: table-cell;
    color: white;
    text-align: center;
    vertical-align: middle;
    font-weight: bolder;
    font-size: 2.5rem;
    /* margin-top: 2.5vw; */
    padding: 1vw;
}
.stardust_icon {
    margin: 2vw;
    padding: 2vw;
    background-color: black;
    border-radius: 50px;
}

/* texto sobre stardust */
.consultancy_service_text {
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.5;
}
.others {
    opacity: 0.5;
    font-size: 1rem;
    text-align: center;
    margin: 1rem;
}
.others a {
    color: currentColor;
}

/* clients */


/* contact button */
.button_wrapper {
    margin: 3rem;
    text-align: center;
}
.contact_button {
    position: relative;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 1rem 2.5rem;
    display: inline-block;
    border-radius: 50px;
    border: none;
    font-family: inherit;
    background-color: white;
    text-align: center;
    transition: all 0.1s ease-in;
}
.contact_button a {
   font-size: 1.5rem;
   text-decoration: none;
   color: black;
   vertical-align: middle;
}
   
.contact_button:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}


                                                /* CONTACT */
/* dividir formulario entre form e img */
main section.contact_wrapper {
    display: flex;
}
.divider {
    width: 50%;
    margin: 2rem;
}
main #contact_us { /*titulo*/
    text-align: center;
    margin: 1.5rem;
    font-size: 2rem;
}
main #lets_talk{
    font-size: 1.25rem;
    text-decoration: underline;
}
.divider img {
    width: 100%;
}
.contact_form_wrapper div {
    text-align: center;
    margin: 1rem;
    padding: 0.5rem;
}
input,select, textarea {
    border-radius: 10px;
    height: 2rem;
    width: 80%;
    text-align: center;
    border-color: black;
    border-width: 1px;
    font-family: 'PT Serif', serif;
    font-size: 1rem;
}
.contact_form_text_problem textarea {
    height: 6rem;
    vertical-align: text-top;
    line-break: auto;
    overflow: auto;
    padding: 0.5rem;
}
/* boton submit */
.submit_button input{
    width: 8rem;
    position: relative;
    font-size: 1rem;
    text-transform: uppercase;
    border-radius: 50px;
    border: none;
    background-color: white;
    text-align: center;
    transition: all 0.1s ease-in;
}
.submit_button input:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

/* mail y tel debajo de form */
.main_mail_wrapper {
    display: flex;
    justify-content: space-around;
}
.main_mail_wrapper img {
    width: 2rem;
    vertical-align: middle;
    font-size: 1rem;
}
.main_phone img {
    height: 2rem;
}
.main_email img {
    height: 1.5rem;
}



                                            /* SUBTITLES */
/* intro y titulos */
.intro_media img{
    width: 100%;
    opacity: 0.6;
}
.intro_media div {
    width: 100%;
    position: absolute;
    text-align: center;
    margin-top: 4rem;
    z-index: 2;
}
.intro_media_title {
    font-family: 'PT Serif', serif;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: lighter;
}
.intro_media h2 {
    font-size: 5rem;
}
.intro_media h3 {
    font-size: 3rem;
}
.indiana_text p{
    color: rgb(250, 250, 0);
    position: relative;
    margin-top: -10rem;
    text-align: center;
    font-size: 1.5rem;
}

/* info */
/* languages */
.subs_languages h2 {
    font-family: 'PT Serif', serif;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
}
.subs_languages_grid {
    display: grid;
    grid-template-areas: 
    "eng_img spa_img por_img"
    "eng_p spa_p por_p";
    justify-content: center;
    text-align: center;
    column-gap: 2rem;
}
.subs_languages_grid p {
    background-color: black;
    color: white;
    border-radius: 20px;
    font-size: 4rem;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    padding: 1rem;
}
.subs_languages_grid h6 {
    font-size: 1rem;
    font-weight: bolder;
}
.others {
    opacity: 0.5;
    font-size: 1rem;
    text-align: center;
    margin: 1rem;
}
.others a {
    color: currentColor;
}

/* subs y cc */
.subs_cc_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "h2 h2"
    "p p";
    justify-content: space-evenly;
    gap: 2rem;
    margin: 2rem;
    width: auto;
}
.subs_cc_grid h2 {
    font-family: 'PT Serif', serif;
    text-align: center;
    text-transform: uppercase;
    margin: 1rem;
    margin-top: 2.5rem;
    background-color: black;
    color: white;
    font-size: 2.5rem;
    border-radius: 20px;
}
.subs_cc_grid p {
    width: 100%;
    text-align: center;
    padding: 0 2rem;
}

/* CLIENTS */
.clients {
    background-color: rgba(0, 0, 0, 0.8);
    margin: 3rem;
    padding: 2rem;
    border-radius: 20px;

}
.clients h2 {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: lighter;
    margin-bottom: 2rem;
    margin-top:0;
    font-size: 2rem;
}
.clients p {
    color: white;
}
.clients_img_wrapper {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2rem;
}
.clients_img_wrapper img {
    width: 12vw;
    height: 12vw;
    border-radius: 50px;
}


                                            /* ORIGINAL PRODUCTIONS */


                                            /* ANIMACIONES*/


                                            /* RESPONSIVE */
/* tamaño tablet */
@media screen and (max-width:768px) {

    /* header y footer */
    header {
        flex-wrap: wrap;
        padding-bottom: 0;
    }
    .menu_nav {
        padding: 0;
    }
    .menu {
        font-size: 0.75rem;
        margin: 0;
    }
    footer {
        flex-direction: column;
        align-items: center;
    }
    footer article {
        width: 100%;
    }
    .footer_about_us div a{
        font-size: 0.75rem;
    }
    footer .datos {
        margin-bottom: 1rem;
    }

    /* index main */
    .info_services_upper_arrow img {
        height: 4rem;
    }
    .info_services_lower_arrow img{
        height: 4rem;
    }
    .info_services_button_wrapper img {
        width: 6rem;
    }
    .info_about_us p {
        margin: 2rem 6rem;
    }

    /* contact */
    main section .contact_wrapper {
        flex: none;
    }
    #divider_display_none_responsive {
        display: none;
    }
    .divider {
        width: 100%;
        margin: auto;
    }
    
    input,select, textarea {
        width: 50%;
    }

    /* consultancy */
    .backround_img_wrapper h2 {
        font-size: 2.5rem;
    }
    .stardust_icon {
        border-radius: 25px;
    }
    .stardust_icon h2 {
        font-size: 1rem;
        word-wrap: normal;
        width: 15vw;
    }
    .stardust_icon h3 {
        font-size: 0.5rem;
    }
    .company_icon p{
        font-size: 1.5rem;
    }
    .consultancy_service_text {
        font-size: 1rem;
    }
    .movie_icon img {
        border-radius: 10px;
    }
    .service_graphic {
        padding: 0;
    }
    .clients h2 {
        text-align: center;
        margin-left: 0;
        padding-top: 0;
        margin-top: 0;
    }

    /* subtitles */
    .intro_media h2 {
        font-size: 2.5rem;
    }
    .intro_media h3 {
        font-size: 1.5rem;
    }
    .indiana_text p{
        font-size: 1rem;
    }
    .subs_languages h2 {
        font-size: 1.5rem;
    }
    .subs_languages_grid p {
        font-size: 2rem;
    }
    .subs_cc_grid h2 {
        font-size: 1.5rem;
    }
}
/* anotaciones sobre ultimas modificaciones estan escritas en papel */