// CONTACT
/* dividir formulario entre form e img */
main {
    @include title;
    .contact_wrapper {
        display: flex;
        .divider {
            width: 50%;
            margin: 2rem;
            img {
                width: 100%;
            }
            form {
                .title {
                    font-size: 1.25rem;
                    text-transform: inherit;
                }
                .contact_form_wrapper {
                    text-align: center;
                    input,select,textarea {
                        width: 80%;
                        height: 2.5rem;
                        margin: 1rem auto;
                        padding: 0.5rem;
                    }
                    textarea {
                        height: 6rem;
                        vertical-align: text-top;
                        line-break: auto;
                        overflow: auto;
                    }
                }
                .input-style {
                    border-radius: 10px;
                    height: 2rem;
                    width: 80%;
                    text-align: center;
                    border-color: black;
                    border-width: 1px;
                    font-family: 'PT Serif', serif;
                    font-size: 1rem;
                    &:focus {
                        transition: all 0.1s ease-in;
                        transform: scale(1.05);
                        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
                    }
                }
            }
                button{
                    @include clic (currentColor);
                    /* boton submit */
                    width: 8rem;
                    position: relative;
                    font-size: 1rem;
                    text-transform: uppercase;
                    border-radius: 50px;
                    border: none;
                    background-color: white;
                    text-align: center;
                    transition: all 0.1s ease-in;
                    @include hover (1.05, none, 0 10px 20px rgba(0, 0, 0, 0.2));
                        
                }
                .main_mail_wrapper { /* mail y tel debajo de form */
                    display: flex;
                    justify-content: space-around;
                    img {
                        width: 2rem;
                        vertical-align: middle;
                        font-size: 1rem;
                    }
                    .main_phone {
                        img {
                            height: 2rem;
                        }
                    }
                    .main_email {
                        img {
                            height: 1.5rem;
                        }
                    }
                }
                
            }
        }
    }

// main {
//     @include title;
//     h2 {
//         text-decoration: underline;
//     }
//     .contact_wrapper {
//         .title {
//             font-size: 1.25rem;
//             text-transform: inherit;
//         }
//         .e-mail_wrapper {
//             margin: 1rem auto;
//             padding: 1rem;
//             width: 50%;
//             text-align: center;
//             border-radius: 25px;
//             border: 2px solid black ;
//             @include hover;
//             h4 {
//                 font-size: 2rem;
//                 text-align: center;
//                 margin: 2rem;
//                 a {
//                     color: white;
//                     text-decoration: none;
//                 }
//             }
//         }
//     }
// }