.info {
    // mas codigo sobre esto en index
    .info_services {
        .info_services_title {
            @include logo;
            margin: 2rem auto;
            .logo_name_wrapper {
                width: 25rem;
                padding: 5rem;
                margin: auto;
                text-align: center;
                background-color: black;
                border-radius: 50%;
                &:hover {
                    border-radius: 50%;
                }
            }
        }
    }
}
.movie {
    margin-top: 2rem;
    .movie_info {
        margin: 1rem;
        padding: 1rem;
        display: flex;
        flex-direction: row;
        @include hover (1.01, rgb(90, 90, 90), none);
        &:hover {
            border: white 2px inset;
            color: black;
        }
        .movie_info_title {
            @include title;
            .title {
                margin-top: 0;

            }
            @include others;
        }
        .movie_info_text {
            h2, p {
                text-align: center;
                margin: auto;
            }
            .others {
                font-size: 0.8rem;
            }
            .sinopsis {
                padding: 1rem;
            }
        }
        .movie_info_picture{
            margin: auto;
            img {
                width: 15rem;
            }
        }
    }
    .movie_trailer {
        video {
            display: block;
            margin: auto;
            width: 90%;
            height: 70%;
            border-radius: 5px;
            &:hover {
                transition: all 0.1s ease-in;
                border: white 2px solid;
                border-radius: 10px;
            }
        }
        @include others;
    }
}